.research-block {
    border-color: #000000;
    border-width: 3px;
    border-style: dashed;
    padding: 5px;
    margin: 5px;
}

.research-list {
    display: inline-flex;
    margin-left: 8px;
}

.research-icon {
    margin: 0px 10px;
}

.research-title {
    font-size: --font-lg;
    margin: 2px 5px;
}

.research-desc {
    font-size: --font-md;
    margin: 2px 5px;
}